.article-title
{
    margin-left: 250px;
}

.article-img
{
    margin-left:400px;
}

.article-vote
{
    margin-left: 900px;
}

.critic-input
{
    width: 500px;
    height: 80%;
}

.critic-submit
{
    width: 40px;
    background-color: transparent;
    border:none;
    margin-left: -20px;
}

.edit-review-button{
    background-color: transparent;
    outline: none;
    border: none;
}

.edit-review-button:hover{
    font-size: 20px;
}